/* /* /* To use the color variable,  follow the below example
 background-color: var(--mainWhite) !important;
*/
body {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  padding: 0px;
  margin: 0px;
}

*{
  box-sizing: border-box;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d0d3d4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d0d3d4;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d0d3d4;
}

:root {
  --mainPurple: #665687;
  --mainGray: #f6f6fa;
  --mainWhite: #ffffff;
  --mainRed: #d6a0a0;
  --Roboto: Roboto, sans-serif;
  --mainGreen: #1AC63F;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 30px 0 30px;
}

.logoWrapper {
  display: flex;
  /* left: 30px;
  top: 30px; */
  width: 30%;
  height: 70px;
}

.logoWrapper img {
  width: 80px;
  height: 80px;

}
.logoWrapper h2 {
  color: var(--mainGray);
  line-height: 70px;
}
.logo {
  /* position: absolute; */
  width: 64px;
  height: 20px;
  left: 10px;
  top: 8px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  color: var(--mainWhite);
  /* identical to box height, or 83% */

  letter-spacing: -0.24px;
  color: var(--mainPurple);
}
.welcome {
  /* position: absolute; */
  /* margin-bottom: 20px; */
  /* margin-left: 5px; */
  /* width: 74px;
  height: 20px; */
  /* left: 35px; */
  /* top: 35px; */

  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--mainPurple);
  text-align: center;
  /* identical to box height, or 62% */

  letter-spacing: -0.24px;
}

.welcomeSignIn {
  margin-bottom: 50px;
  margin-left: 5px;
  width: 74px;
  height: 20px;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--mainPurple);
  letter-spacing: -0.24px;
}

.formDiv label{
  margin-left: 5px;
}

.genderDiv {
  display: flex;
  width: 80%;
  margin: auto;
}
.genderDiv input{
  margin-left: 15px;
  font-family: var(--Roboto);
}

.loginWithDiv{
  float: right;
  padding: 10px 0 0 0;
  width: 100%;
  text-align: center;
  margin: auto;
}

.loginWithDiv label {
  margin-right: 15px;
}

.loginWithDiv i {
  margin-right: 10px;
}

.formSocialIconsDiv{
  width: 50%;
}

.formSocialIconsDiv i {
  margin-left: 10px;
  font-size: 1.2rem;
}

.input{
  margin: auto;
  margin-bottom: 15px;  
  width: 80%;
  height: 40px;
  background-color: var(--mainWhite);
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35);
}
.inputsubmit {
  margin: auto;
  /* margin: 0px 0px 20px 40px; */
  width: 260px;
  height: 40px;
  right: 39px;
  top: 78px;
  color: var(--mainWhite);
  background-color: var(--mainPurple);
  border-bottom: 8px;
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35);
  border-radius: 8px;
}
.loginparagraph {
  text-align: center;
  color: var(--mainPurple);
  background-color: var(--mainWhite);
}
.otherlogin {
  width: 260px;
  height: 40px;
  right: 39px;
  top: 310px;
  padding: 8px;
  text-align: center;
  margin-left: 40px;

  /* background: #ffffff;
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35); */
}
.closeWrapper {
  position: relative;
  left: 90%;
  width: 14px;
  height: 14px;
  border: none;
  background-color: var(--mainWhite);
}
.close {
  color: red;
  width: 14px;
  height: 14px;
}

/* .modalContent{
  /* padding-left: 10%; */


#login{
  display: inline-block;
  background-color: var(--mainWhite);
  text-align: center;
  width:80px;
  height: 32px;
  padding-top: 7px;
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  margin-top: 20px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: navy;
  margin-right: 20px;
  border-radius: 5px;
  
}

#signup {
  display: inline-block;
  text-align: center;
  width:80px;
  height: 32px;
  padding-top: 7px;
  font-family: Roboto;
  font-size: 18px;
  color: var(--mainWhite);
  margin-right: 20px;
}
.loginmodal {
  position: absolute;
  display: flex;
  left: 20%;
  padding-left: 5px;
  top: 120px;
  width: 50vw;
  height: 472px;
  transition: 1.1s ease-out;
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  z-index: 2;
  border-radius: 10px;
  /* visibility: visible; */
}
.modalDiv{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modalDiv2{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.LoginLeft {
  background-color: var(--mainPurple);
  width: 50vw;
}
.boardRoom {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 20px;
  /* identical to box height, or 62% */

  letter-spacing: -0.24px;
  color: var(--mainWhite);
  text-align: center;
  padding: 220px 0px;
}
.checkBoxDiv {
  display: flex;
  text-align: center;
}
.LoginRight {
  width: 50vw;
  background-color: var(--mainWhite);
}
.signupmodal, .loginmodal {
  margin: auto;
  display:flex;
  margin-top: 100px; 
  width: 760px;
  height: 472px;
  background: white;
  /* transition: 1.1s ease-out; */
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35);
  filter: blur(0);
  /* transform: scale(1); */
  opacity: 1;
  z-index: 1;
  /* border-radius: 5px; */
}
.signUpInput2 {
  width: 128px;
  height: 25px;
  padding:5px;
  margin:10px;
  border:20px;
  background-color:#ffffff;
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.1);
}
.signUpContdWrapper{
  text-align:center;
}
.forgotPassword{
  margin:30px;
}
.forgotPasswordHeader{
  margin:0px 0px 20px 10px;
}
.signUpContdParagraph{
width: 200px;
height: 40px;
margin:20px 0px 40px 20px;
padding:5px;
}
.leftModal{
  background-color:var(--mainPurple);
  width:50%;
}
.rightModal{
  width:50%;
}
.checkbox {
  margin-left: 40px;
}
.logoutmodal {
  background-color: var(--mainRed);
  height: 252px;
  width: 334px;
  background-color: var(--mainWhite);
  border: 1px solid #f6f6fa;
  box-sizing: border-box;
  box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 11px;

  position: absolute;
  left: 40%;
  bottom: 30%;
}
.logoutheader {
  margin-left: 20px;
  padding-top: 10px;
  color: var(--mainPurple);
  font-family: var(--Roboto);
  font-weight: bold;
  font-size: 32px;
}
.logoutparagraph {
  text-align: center;
  margin: 30px;
  font-family: var(--Roboto);
  font-size: 24px;
}
.logoutlink {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.logoutlink1 {
  width: 100px;
  height: 39px;
  border: 1px solid #665687;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  padding: 1px;
  margin-right: 10px;
  color: var(--mainPurple);
  font-family: var(--Roboto);
  font-size: 24px;
}
.logoutlink2 {
  width: 100px;
  height: 39px;
  border: 1px solid #665687;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: var(--mainPurple);
  text-align: center;
  padding: 1px;
  color: var(--mainWhite);
  font-family: var(--Roboto);
  font-size: 24px;
}

.signupheader {
  width: 100%;
  margin-bottom: 30px;
}
.signuptitle {
  width: 250px;
  height: 20px;
  left: 35px;
  top: 81px;
  margin-top: 50px;
  margin-left: 40px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: var(--mainPurple);
}
.inputsignup {
  margin: 0px 0px 20px 40px;
  width: 260px;
  height: 40px;
  right: 39px;
  top: 78px;
  background-color: var(--mainWhite);
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35);
}
.forgotEmail{
  margin: 0px 0px 20px 1px;
  width: 260px;
  height: 40px;
  right: 39px;
  top: 78px;
  background-color: var(--mainWhite);
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35);
}
.forgotPasswordText{
  color:var(--mainPurple);
  margin-bottom: 20px;
}
.signupsubmit {
  margin: 0px 0px 20px 40px;
  width: 80%;
  height: 40px;
  /* right: 39px; */
  top: 78px;
  color: var(--mainWhite);
  background-color: var(--mainPurple);
  border-bottom: 8px;
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35);
}
.forgetSubmit{
  margin: 0px 0px 20px 1px;
  width: 260px;
  height: 40px;
  right: 39px;
  top: 78px;
  color: var(--mainWhite);
  background-color: var(--mainPurple);
  border-bottom: 8px;
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35);
}
/* .signupsubmit:visited{
    margin:0px 0px 20px 40px;
    width: 260px;
    height: 40px;
    right: 39px;
    top: 78px;
    color:var(--mainWhite);
    background-color:var(--mainPurple);
    border-bottom: 8px;
    box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35);
  } */
.signUpWrapper {
  background-color: var(--mainRed);
}
.modal-content {
  width: 60%;
  height: 472px;
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35);
  border-radius: 9px;
  position: absolute;
  background-color: var(--mainWhite);
}
#modallabel {
  position: absolute;
  width: 132px;
  height: 20px;
  left: 35px;
  top: 35px;
}

.f {
  width: 50%;
}
.forgetpassword {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #665687;
  margin: 10px;
}
.submit {
  width: 260px;
  height: 40px;
  background: #665687;
  border-radius: 8px;
  color: #ffff;
}
.alternatesignup {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #665687;
}
.googlesignup {
  width: 260px;
  height: 40px;
  margin: 10px;
  text-align: center;
  background: #ffffff;
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35);
}
.forgetPassword {
  color: var(--mainRed);
  font-size: "10px";
  margin-left: "60px";
}
.facebooksignup {
  width: 260px;
  height: 40px;
  margin: 10px;
  text-align: center;
  background: #ffffff;
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35);
}
/* landing search bar */

.landingWrapper{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
.landingFooter {
  display: flex;
  padding: 0 0 30px 50px;
}

.landingFooter span{
  color: #FFF;
  margin-right: 25px;
  font-size: 13px;
  font-family: var(--Roboto);
  letter-spacing: 1px;
  
}

.landingBody {
  width: 680px;
  margin: auto;
  margin-top: 150px;
}

.landingBody h3 {
  color: var(--mainWhite);
  font-family: var(--Roboto);
}
#search {
  width: 100%;
  height: 45px;
  padding: 20px;
  font-size: 20px;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}

flexDisplay {
  display: flex;
  justify-content: space-between;
}
.filterSelect{
  height: 45px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
  width: 130px;
  padding-left: 10px;
  font-size: 18px;
  color: gray;
  font-weight: bold;
}

.filterCapacity{
  height: 45px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
  width: 140px;
  padding-left: 10px;
  color: gray;
  font-weight: bold;
}

#datePicker::before {
  color: gray;
}
#timePicker::before {
  color: gray;
}

.filterButton{
  width: 99px;
  height: 45px;
  top: 339px;
  background: var(--mainGreen);
  border-radius: 4px;
  border: none;
  color: #FFF;
  width: 130px;
  font-size: 18px;
}

.filterButton:hover{
background-color: green;
}
.backgroundImage {
  width: 100vw;
  height: 100vh;
  background-image: url("./Images/room0.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.4);
  position: absolute;
  z-index: -1;
}


.googlesignuptext,
.facebooksignuptext {
  height: 20px;
  padding-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  color: #665687;
}



body {
  max-width: 100%;
  height: 100%;
}
.forgetPassword {
  font-size: 10px;
  margin-left: 40px;
}

/* @media screen and (min-width: 360px) and (max-width: 414px) {
  .logoWrapper {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 70px;
    padding: none;
  }
  .logo {
    position: absolute;
    height: 20px;
    left: 5px;
    top: 8px;
  }
  #login {
    position: relative;
    width: 50px;
    height: 10px;
    left: 160px;
    z-index: 1;
    background-color: none;
  }
  #signup {
    width: 160px;
    position: relative;
    left: 150px;
    height: 10px;
    background-color: none;
  }
  #search {
    position: relative;
    width: 280px;
    height: 60px;
    left: 40px;
    top: 210px;
  }
  /* .loginmodal {
    position: absolute;
    left: 40px;
    top: 100px;
    width: 280px;
    height: 472px;
  } */
/* .signupmodal {
    position: absolute;
    left: 40px;
    top: 100px;
    width: 280px;
    height: 650px;
  }
  .inputusername,
  .inputpassword,
  .inputsubmit,
  .otherlogin,
  .inputsignup,
  .signupsubmit {
    width: 200px;
  }
}  */
@media screen and (min-width: 601px) and (max-width: 768px) {
  .header {
    width: 100vw;
  }
  #login {
    position: relative;
    width: 64px;
    height: 20px;
    left: 0px;
    top: 0px;
    font-size: 18px;
    /* z-index:1; */
  }
  .LoginLeft,
  .signUpLeft {
    width: 50vw;
  }
  .LoginRight,
  .signUpRight {
    width: 50vw;
  }
  #signup {
    position: relative;
    width: 140px;
    left: 0px;
    top: 0px;
    background-color: none;
    font-size: 18px;
  }
  #search {
    /* position: relative; */
    /* width: 500px; */
    height: 60px;
    /* left: 0px; */
    top: 210px;
  }
  /* .signupmodal {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 80vw;
  }
  .loginmodal {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 80vw;
  }
  .inputusername,
  .inputpassword,
  .inputsubmit,
  .otherlogin,
  .inputsignup,
  .signupsubmit {
    width: 100%;
  }
  .forgetPassword {
    margin-left: 25px;
    margin-bottom:10px;
    color:var(--mainRed);
    font-size:10px;
  } */
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .logoWrapper {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 70px;
    padding: none;
  }
  .logo {
    position: absolute;
    height: 20px;
    left: 5px;
    top: -5px;
  }
  .header {
    width: 100vw;
  }
  .signUpLeft,
  .LoginLeft {
    display:none;
  }
  .signUpRight,
  .LoginRight {
    width: 80vw;
  }
  .loginSignupWrapper {
    width: 50%;
    display: flex;
    background-color: greenyellow;

  } 


  #login {
    position: relative;
    width: 20px;
    height: 10px;
    left: 200px;
    top: 10px;
    background-color: none;
    font-size: 12px;
  }
  #signup {
    width: 60px;
    position: relative;
    left: 210px;
    top: 0px;
    height: 10px;
    background-color: none;
    /* margin: 0px; */
    font-size: 12px;
  }
  #search {
    /* position: relative; */
    width: 200px;
    height: 60px;
    /* left: 00px; */
    /* top: 210px; */
  }
  .loginmodal {
    position: absolute;
    left: 30px;
    top: 100px;
    width: 80vw;
    height: 472px;
  }
  /* .signupmodal {
    position: absolute;
    left: 40px;
    top: 100px;
    width: 80vw;
    height: 550px;
  } */
  .inputusername,
  .inputpassword,
  .inputsubmit,
  .otherlogin,
  .inputsignup,
  .signupsubmit,
  .forgotEmail,
  .forgetSubmit,
  .forgetPasswordParagraph{
    width: 180px;
  }
  .forgetPassword {
    margin-left: 40px;
    margin-bottom: 10px;
    display: block;
    color: var(--mainRed);
  }
  .signUpInput2{
    width:100px;
  }
  .signUp2modal{
    position:relative;
    left:30px;
    top:30px;
  }
  .signUp2paragraph{
      font-size: 2x;
      width:150px;
      margin-bottom:10px;
      text-align: center;
  }
}
@media screen and (width: 1024px){
    .LoginLeft,
  .signUpLeft {
    width: 50vw;
  }
  .LoginRight,
  .signUpRight {
    width: 50vw;
  }
  .signupmodal {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 80vw;
  }
  .loginmodal {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 80vw;
  }
  .inputusername,
  .inputpassword,
  .inputsubmit,
  .otherlogin,
  .inputsignup,
  .signupsubmit {
    width: 300px;
  }
  .forgetPassword {
    margin-left: 25px;
    margin-bottom: 10px;
    color: var(--mainRed);
    font-size: 10px;
  }
}

/* Jelili CSS */
.headerPurpleDiv {
  height: 50px;
  background-color: var(--mainPurple) !important;
  box-sizing: border-box;
  margin-top: -1px;
  padding-top: 1px;
  position: relative;
}

.headerIconDiv {
  display: flex;
  justify-content: space-between;
}

.leftIconDiv {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  color: var(--mainWhite);
  margin-left: 1%;
  font-family: var(--Roboto);
}

.rightIconDiv {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  color: var(--mainWhite);
  font-family: var(--Roboto);
  padding-right: 1%;
  /* margin-right: 7%; */
  /* width: 10%; */
}

.rightIconDiv img {
  height: 30px;
  width: 30px;
  background-color: yellow;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.rightIconDiv i,
.leftIconDiv i {
  color: var(--mainWhite);
  margin-top: 10px;
}

.rightIconDiv i:hover,
.leftIconDiv i:hover {
  color: lightseagreen;
}
.mgTop10 {
  margin-top: 10px;
}
.font15 {
  font-size: 15px;
}
.leftIconDiv span {
  margin-left: 10px;
}

.innerPurpleDiv {
  width: 86%;
  margin: auto;
  background-color: var(--mainGray);
  height: 65%;
  color: var(--mainWhite);
  position: absolute;
  bottom: 0;
  margin-left: 7%;
}
.navigations {
  color: var(--mainPurple);
  margin: auto;
  display: flex;
  padding-left: 20px;
  margin-top: 1%;
  background-color: var(--mainGray);
  font-family: var(--Roboto);
  font-size: 15px;
}
.navigations :nth-child(2) {
  padding: 0px 7px;
}

.inputSpecial {
  width: 30%;
  height: 35px;
  background-color: #fbfbfb;
  border: 1px solid #d6dbdf;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 1%;
  font-size: 20px;
  padding-left: 20px;
}

.inputButtonDiv {
  width: 83%;
  margin-left: 10%;
}
.buttonSpecial {
  width: 30%;
  height: 35px;
  background-color: var(--mainPurple);
  color: var(--mainWhite);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  margin-left: 15px;
  border: 1px solid var(--mainPurple);
}

.buttonSpecial2 {
  width: 30%;
  height: 35px;
  background-color: var(--mainWhite);
  color: var(--mainPurple);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  margin-left: 15px;
  border: none;
  cursor: pointer;
}

.inputButtonDiv i {
  font-size: 40px;
  color: gray;
  margin-left: 10px;
  padding: 0px;
}

.bodyWhiteDiv {
  width: 86%;
  margin: auto;
  padding-top: 25px;
}

.title-conf {
  display: flex;
  margin-top: 40px;
  font-family: var(--Roboto);
}

.title-conf p {
  font-size: 20px;
  font-family: var(--Roboto);
}

.title-conf h4 {
  font-family: var(--Roboto);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.24px;
  text-decoration-line: underline;
  margin-right: 30px;
}

.bodyWhiteDiv img {
  width: 49%;
}

.roomInfoDiv {
  background-color: var(--mainGray);
  /* height: 55vh; */
  width: 49%;
  color: gray;
}

.roomInfoDiv i {
  font-size: 60px;
}
.roomInfoSpanDiv {
  margin-left: 10%;
  margin-right: 10%;
  float: left;
  margin-top: 60px;
}
.roomInfoDiv p {
  font-size: 17px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin-top: 5px;
}

.roomInfoBtnDIv {
  height: 10vh;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 200px;
}
.roomInfoBtnDIv button {
  width: 12%;
  height: 30px;
  border-radius: 2px;
  color: var(--mainWhite);
  background-color: var(--mainPurple);
  font-size: 1.2vw;
  font-family: Roboto, sans-serif;
  margin-left: 44%;
  border: none;
}

.bodyWhiteDiv button:hover {
  opacity: 0.9;
}

.footer-div {
  height: 30vh;
  background-color: var(--mainGray);
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 7%;
  padding-right: 7%;
}

.listCategory {
  font-size: 18px;
  font-weight: bold;
  color: var(--mainPurple);
}

.footer-div ul {
  list-style: none;
  font-size: 18px;
  font-family: var(--Roboto);
  color: var(--mainPurple);
}

.footer2Div {
  display: flex;
  justify-content: space-between;
  background-color: var(--mainPurple);
  height: 50px;
  box-sizing: border-box;
}

.footer2Div i {
  color: var(--mainWhite);
  font-size: 15px;
  margin-right: 20px;
  margin-top: 15px;
}

.footer2Div span {
  color: var(--mainWhite);
  font-size: 13px;
  margin-right: 25px;
  font-family: var(--Roboto);
  /* margin-top: 25px;   */
}

.footerDiv1 {
  padding-top: 10px;
  padding-left: 40px;
}

.footerDiv2 {
  padding-right: 20px;
}

.stars-active {
  display: flex;
  color: #f24d06;
}

.button-book {
  color: var(--mainWhite);
  background-color: var(--mainRed);
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  /* font-weight: bold; */
  /* font-size: 12px; */
  /* line-height: 20px; */
  /* letter-spacing: -0.24px; */
  padding: 0 10px;
}

.conf {
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: -0.24px;

  color: var(--mainPurple);
}

.filter {
  margin-top: 1%;
  width: 95%;
  height: 35px;
  background-color: var(--mainGray);
  color: var(--mainPurple);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-size: 19px;
  font-family: Roboto, sans-serif;

  border: none;
  cursor: pointer;
}

.cat {
  margin-top: 3%;
  padding-left: 110px;
  font-family: var(--mainPurple);
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 20px;
  color: var(--mainPurple);
}

.search-list {
  margin-top: 2.5%;
  width: 95%;
  height: 35px;
  padding-left: 3%;
  background-color: var(--mainGray);
  color: var(--mainPurple);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-family: Roboto, sans-serif;
  border: none;
  cursor: pointer;
}
.search-list label {
  font-size: 0.95vw;
  font-family: var(--Roboto);
  margin-left: 8%;
  font-weight: bold;
  line-height: 35px;
  letter-spacing: -0.24px;
}
.search-list span {
  padding: 2px 5px;
  border: 1px solid var(--mainGray);
  background-color: var(--mainWhite);
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.35);
}
.Search-button button {
  margin-top: 7%;
  width: 95%;
  height: 35px;
  color: var(--mainWhite);
  background-color: var(--mainPurple);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-size: 20px;
  font-family: Roboto, sans-serif;

  cursor: pointer;
  border: 1px solid var(--mainPurple);
}
.homeWrapper {
  background-color: #fafafa;
}

.homePageBody {
  width: 86%;
  margin: auto;
  display: flex;
  background-color: #fafafa;
}

.homePageBodyRight {
  width: 73%;
  display: flex;
  justify-content: space-evenly;
}

.homePageBodyLeft {
  width: 27%;
}
/* .homePageRooms{
  display: flex;
  background-color: blue;
} */
.roomImages {
  width: 140px;
  margin-top: 1%;
  height: 110px;
}

.roomList {
  width: 82%;
  background: var(--mainWhite);
  box-shadow: 3px 1px 9px rgba(0, 0, 0, 0.1);
  height: 110px;
  margin-top: 1%;
}

/* .roomImageRight {
  height: 120px;
  width: ;
} */
.content1 {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  padding: 0 10px;
}

/* Booking Form */

.bookingPageBody {
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin: auto;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 60px;
}

.bookingPageLeftSide {
  width: 35%;
}

.bookingPageRightSide {
  width: 63%;
  margin-left: 2%;
  background-color: var(--mainGray);
  padding: 35px;
  box-sizing: border-box;
}

.bookingPageLeftSide p {
  margin-bottom: 10px;
  font-family: var(--Roboto);
  font-size: 14px;
  color: var(--mainPurple);
}

.bookingPageLeftSide img {
  width: 100%;
  height: 270px;
}

.bookingPageLeftSide h3 {
  font-family: var(--Roboto);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  /* line-height: 20px;
  /* letter-spacing: -0.24px; */
  text-decoration-line: underline;
  margin-top: 30px;
  margin-bottom: 10px;
}

.formMessage {
  width: 100%;
  background-color: var(--mainGray);
  height: 100px;
  font-size: 14px;
  padding: 20px;
  color: var(--mainPurple);
  font-family: var(--Roboto);
}

.bookingPageRightSide h5 {
  font-family: var(--Roboto);
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.24px;
  margin-bottom: 10px;
}

.bookingPageRightSide p {
  font-family: var(--Roboto);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.checkInDiv {
  display: flex;
  justify-content: space-between;
}

.checkInDiv label {
  font-size: 18px;
  margin-right: 10px;
  font-family: var(--Roboto);
}

.checkInDiv input[type="datetime-local"] {
  height: 40px;
  width: 220px;
  border: 1px solid var(--mainGray);
  padding-left: 10px;
}

.checkInDiv input[type="text"] {
  height: 45px;
  width: 350px;
  margin-top: 10px;
  border: 1px solid var(--mainGray);
  padding-left: 15px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.1);
  font-size: 20px;
}

.checkInDiv2 input {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border: 1px solid var(--mainGray);
  padding-left: 15px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 9px rgba(102, 86, 135, 0.1);
  font-size: 20px;
}

.bookingPageRightSide span {
  width: 30px;
  height: 20px;
  background: var(--mainWhite);
  padding: 0 5px;
  margin-right: 5px;
}

.button1 {
  width: 150px;
  height: 35px;
  border: 2px solid var(--mainPurple);
  color: var(--mainPurple);
  font-family: var(--Roboto);
}

.button2 {
  width: 150px;
  height: 35px;
  border: 1px solid var(--mainPurple);
  color: var(--mainWhite);
  background-color: var(--mainPurple);
  font-family: var(--Roboto);
}

.button1:hover,
.button2:hover {
  opacity: 0.8;
}

.bookingFormBtnDiv {
  width: 325px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.spaceDiv {
  height: 100px;
}

.bookingItemsInRoomDiv {
  width: 86%;
  margin-left: 7%;
}

.imageAndItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.userProfileBody {
  display: flex;
  justify-content: space-between;
}

.content2 {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 15px;
  padding: 10px 10px;
}
/* .content2 :nth-child(2){
  margin-right: 30%;
} */
.seats {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #373f41;
  margin-left: 15px;
}
.capacity {
  display: flex;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #373f41;
}
.address1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.24px;

  color: #373f41;
}
.address2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: -0.24px;

  color: #373f41;
}
.roomName {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.24px;
  text-decoration-line: underline;
  color: #373f41;
}
#result1 {
  margin-top: 2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.54px;

  color: #665687;
}
#result2 {
  margin-top: 2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.24px;
  margin-left: 10px;
  color: #665687;
}

.searchResult {
  padding-left: 44.4%;
  display: flex;
  background-color: #fafafa;
}
.prevNext {
  display: flex;
  justify-content: center;
  margin-left: 300px;
}
.prevNext button {
  margin-left: 20px;
}
.prevNextResult {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  /* identical to box height, or 83% */
  letter-spacing: -0.24px;
  color: var(--mainPurple);
  margin-top: 10px;
}
.prevButton {
  width: 120px;
  height: 40px;
  color: var(--mainPurple);
  font-size: 22px;
  font-family: var(--Roboto);
  align-items: center;
  background: #fafafa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--mainPurple);
  letter-spacing: -0.24px;
  line-height: 20px;
}
.but1 {
  width: 40px;
  height: 40px;
  color: var(--mainPurple);
  font-size: 22px;
  font-family: var(--Roboto);
  align-items: center;
  background: #fafafa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--mainPurple);
  line-height: 20px;
}

.but2 {
  width: 40px;
  height: 40px;
  color: var(--mainPurple);
  font-size: 22px;
  font-family: var(--Roboto);
  align-items: center;
  background: #fafafa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--mainPurple);
  line-height: 20px;
}
.but3 {
  width: 40px;
  height: 40px;
  color: var(--mainPurple);
  font-size: 22px;
  font-family: var(--Roboto);
  align-items: center;
  background: #fafafa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--mainPurple);
  line-height: 20px;
}
.but4 {
  width: 40px;
  height: 40px;
  color: var(--mainPurple);
  font-size: 22px;
  font-family: var(--Roboto);
  align-items: center;
  background: #fafafa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--mainPurple);
  line-height: 20px;
}
.but5 {
  width: 40px;
  height: 40px;
  color: var(--mainPurple);
  font-size: 22px;
  font-family: var(--Roboto);
  align-items: center;
  background: #fafafa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--mainPurple);
  line-height: 20px;
}
.nextButton {
  width: 120px;
  height: 40px;
  color: var(--mainPurple);
  font-size: 22px;
  font-family: var(--Roboto);
  align-items: center;
  background: #fafafa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--mainPurple);
  letter-spacing: -0.24px;
  line-height: 20px;
}
.userProfileLeft {
  width: 20%;
  box-sizing: border-box;
  border-right: 1px solid #d5dbdb;
  box-sizing: border-box;
  padding-top: 100px;
}

.userProfileRight {
  width: 80%;
  box-sizing: border-box;
  padding-left: 10%;
  padding-top: 4%;
}

.userProfileLeft h5 {
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.24px;
  /* color: #665687; */
  text-align: center;
  font-family: var(--Roboto);
}

.userProfileLeft ul {
  text-align: center;
  list-style: inside;
  width: 100px;
  margin: auto;
  padding: 0px;
  margin-top: 40px;
}
.userProfileLeft ul li {
  list-style: none;
  text-align: justify;
  margin-top: 15px;
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: -0.24px;
}

.userProfileRight img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.avatarDiv {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.avatarDiv h4 {
  margin-top: 20%;
}

.avatarDiv input {
  width: 85%;
  height: 45px;
  margin-right: 50px;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
  background: #fbfbfb;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.1);
  border: none;
  font-family: var(--Roboto);
}

.avatarInput {
  width: 50%;
}
.profileButton {
  width: 150px;
  height: 40px;
  background-color: var(--mainRed);
  color: var(--mainWhite);
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  margin-left: 33%;
  margin-top: 40px;
  margin-bottom: 120px;
}

.userProfileLogout {
  text-align: center;
  color: var(--mainRed);
  margin-top: 50%;
  font-family: var(--Roboto);
  font-weight: bold;
}

/* Media Queries */
@media (min-width: 320px) and (max-width: 768px) {
  .imageAndItems {
    display: block;
  }
  .imageAndItems img {
    width: 100%;
    height: 40%;
  }
  
  .roomInfoDiv {
    width: 100%;
    height: 40vh;
  }

  .title-conf {
    display: inline-table;
    margin-top: 10px;
  }

  .title-conf p {
    font-size: 15px;
  }

  .title-conf h4 {
    font-family: var(--Roboto);
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.24px;
    text-decoration-line: underline;
    margin-right: 3px;
  }

  .roomInfoDiv i {
    font-size: 30px;
  }
  .roomInfoSpanDiv {
    margin-left: 5%;
    margin-right: 7%;
    margin-top: 30px;
  }
  .roomInfoDiv p {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
  }

  .roomInfoBtnDIv button {
    width: 50%;
    height: 30px;
    font-size: 15px;
    margin-left: 25%;
    border: none;
  }

  .footerDiv1 {
    padding-top: 10px;
    padding-left: 20px;
  }

  .footerDiv2{
    display: none;
  }
}



  /* #search {
    width: 80%;
    margin-left: 10%;
    height: 60px;
    padding: 20px;
    font-size: 20px;
    margin-top: 15%;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
  } */

.bookingRoomSearchWrapper{
  margin-top: 3%;
  box-sizing: border-box;
  width: 100vw;
  padding-left: 100px;
  height: 200vh;
  
  

}
.roomsSearched {
  width: 100%;
  float: left;
}

.room1{
  width: 269px;
  height: 410px;
  margin-top: 2%;
  float: left;
  margin: 0px 25px 10px 8px ;
  padding: 0px 49px 10px 10px ;
  border: 1px solid var(--mainPurple);
  background-color: var(--mainGray);
  background: #F3F3F3;
  box-sizing: border-box;
  border-radius: 5px;
}

.room1 img {
  margin: 10px 10px 10px 9px;
  width: 110%;
  height: 140px;
}
.roomFeatures{
  background: #FFFFFF;
box-shadow: 0px 0px 3px #E5E5E5;
  margin: 0px 10px 10px 9px;
  width: 110%;
  height: 239px;
  padding: 0 10px 0 10px;
}
.features1{
  font-size: 11px;
  margin-top: 3.2%;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-family: var(--Roboto) sans-serif;
}
.features1 i{
background: #FFFFFF;
font-size: 17px;
/* border: 1px solid rgba(55, 63, 65, 0.84);
box-sizing: border-box; */
}
.roomNumber{
font-size: 9px;
}
.bookNow{
color: #20B541;
font-family: var(--Roboto) sans-serif;
padding-left: 72px;
margin-top: 3%;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 20px;
letter-spacing: -0.24px;

color: #FFFFFF;
} 
.bookNow button{
  background-color: #20B541;
  color: var(--mainGray);
  font-weight: var(--Roboto);
  border-radius: 4px;
  border: none;
  
}
.searchLabel{
  font-family: Roboto, sans-serif;
  font-size: 17px;
  color:var(--mainPurple);
}

.searchInput{
  margin-top: 1%;
  width: 25%;
  height: 35px;
  font-size: 14px;
  color: var(--mainWhite);
  background-color: var(--mainWhite);
  border: 1px solid rgba(102, 86, 135, 0.5);
  box-sizing: border-box;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  padding-left: 15px;
}
.boardRoomFeatures{
display: flex;
justify-content: space-between; 
align-items: center;
padding: -1;
margin: 1;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.24px;
}
.boardRoomFeatures span{
  font-family: var(--Roboto);  
  font-size: 14px;
  color: var(--mainPurple);
}

.boardRoomFeatures label{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #20B541;
}

.boardRoomFeatures i{
  font-size: 20px;
  color: #000000;
}
/* .boardRoomFeatures :nth-child(1){
  display: flex;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 20px;
letter-spacing: -0.24px;
color: #665687;
}  */
/* .searchFeatures {
  display: flex;
  justify-content: space-between;
  font-family: var(--Roboto);
} */
.board {
  letter-spacing: -0.24px;
  font-size: 14px;
  color: var(--mainPurple);
}
.building {
  font-size: 9px;
  display: flex;
}
.features {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.24px;
}
.accessories {
  padding-right: 164px;
}
.accessories :nth-child(2) {
  padding: 0 10px 0 10px;
}
.filterIcon{
background: #FFFFFF;
border: 1px solid #665687;
box-sizing: border-box;
border-radius: 7px;
margin-left: 20px;
font-size: 20px;
}

@media (min-width: 616px) and (max-width: 900px) {

  .signupmodal, .loginmodal {
    width: 600px;
  }
  
}

@media (min-width: 500px) and (max-width: 616px) {
  .signupmodal, .loginmodal {
    width: 90%;
  }  
}

@media (min-width: 320px) and (max-width: 500px) {
  .signupmodal, .loginmodal {
    width: 90%;
  }  

  .leftModal{
    display: none;
  }

  .rightModal {
    width: 100vw;
    margin: auto;
  }
}

@media (max-width: 320px) {
  .signupmodal, .loginmodal {
    width: 90%;
}  

  .leftModal{
    display: none;
  }

  .rightModal {
    width: 320px;
    margin: auto;
  }

  .modalDiv {
    width: 300px;
  }
}
