/* To use the color variable,  follow the below example
 background-color: var(--mainWhite) !important;
*/

:root{
  --mainPurple: #665687;
  --placeHolderGray: rgba(102, 86, 135, 0.4);
  --mainWhite: #FFFFFF;
}

.f{
  width: 50%;
}
